name: "Container Build and Push"

on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

permissions:
  contents: read
  packages: write
  # Used by actions/attest-build-provenance
  id-token: write
  attestations: write

jobs:
  build-push:
    uses: darbiadev/.github/.github/workflows/container-build-push.yaml@440166417b42442c6114aaa895094f0db7de9b78 # v15.2.0
    with:
      file-name: Dockerfile
