name: "Python CI"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  pre-commit:
    uses: darbiadev/.github/.github/workflows/generic-precommit.yaml@e3ebedcaeee8d40bdb7ef569dacd74829ab0c368 # v14.0.0

  lint:
    needs: pre-commit
    uses: darbiadev/.github/.github/workflows/python-lint.yaml@e3ebedcaeee8d40bdb7ef569dacd74829ab0c368 # v14.0.0

  test:
    needs: lint
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ "3.12" ]

    uses: darbiadev/.github/.github/workflows/python-test.yaml@e3ebedcaeee8d40bdb7ef569dacd74829ab0c368 # v14.0.0
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
    secrets:
      codecov-token: ${{ secrets.CODECOV_TOKEN }}

  docs:
    # Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
    permissions:
      contents: read
      pages: write
      id-token: write

    uses: darbiadev/.github/.github/workflows/github-pages-python-sphinx.yaml@e3ebedcaeee8d40bdb7ef569dacd74829ab0c368 # v14.0.0
